<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="dirpaths" type="System.Configuration.AppSettingsSection"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  
  <dirpaths>
    <!--<add key="../../../FileLogger/bin/Debug"/>-->
    <!--<add key="../../../Serialization/bin/Debug"/>-->
    <add key="../../../DatabaseLogger/bin/Debug"/>
    <add key="../../../WPFBrowseFile/bin/debug"/>
    <add key="../../../Database/bin/Debug"/>
  </dirpaths>
</configuration>